/* COLOR VARIABLES */
$primary-color: #323643;
$primary-color-opacity: #3236439b;
$secondary-color: #77ccf7;
$tertiary-color: #606470;

$bg-color: #b4b8c4;

$font-color: #f7f7f7;
$font-color-secondary: #4c4c4c;

/* VARIABLES */
$border-radius: 4px;
