@import url("https://fonts.cdnfonts.com/css/poppins");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
header nav .navbar > div a {
  color: #f7f7f7;
  padding-bottom: 0.1em;
  background: linear-gradient(#77ccf7 0 0) 0% 100%/var(--_p, 0%) 0.1em no-repeat;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  transition: background 0.5s, color 0.2s;
  z-index: 4;
}
header nav .navbar > div a:hover {
  filter: brightness(1);
  --_p: 100%;
  color: #77ccf7;
  cursor: pointer;
}

.content .contact form > div input[type=radio] {
  height: 1.2rem;
  width: 1.2rem;
  margin: 0;
  min-width: 1.2rem;
  min-height: 1.2rem;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: transparent;
  font: caption;
  color: #f7f7f7;
  border: 2px solid #f7f7f7;
  display: grid;
  place-content: center;
  transition: all 0.3s;
}
.content .contact form > div input[type=radio]::before {
  height: 0.7em;
  width: 0.7em;
  content: "";
  transform: scale(0);
  transition: transform 0.3s;
  box-shadow: inset 1em 1em #77ccf7;
  background-color: transparent;
}
.content .contact form > div input[type=radio]:checked::before {
  transform: scale(1);
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  background: rgba(197, 196, 196, 0.574);
}
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background: rgba(105, 104, 104, 0.6);
  border-radius: 2px;
}
body::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:hover {
  background: rgba(95, 95, 95, 0.6);
  cursor: pointer;
}
body::-webkit-color-swatch,
html::-webkit-color-swatch {
  border: 0;
  border-radius: 3px;
}

.content .team > div .container, .content .style > div .container, .content .about > div .container {
  display: grid;
  align-items: space-between;
  align-content: space-between;
  justify-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.15) 100%);
  padding: 2.5rem;
  box-shadow: 0 20px 40px 0 rgba(216, 227, 235, 0.15);
  border-radius: 1rem;
  scale: 1;
  height: 100%;
  transition: scale 0.3s;
}
.content .team > div .container:hover, .content .style > div .container:hover, .content .about > div .container:hover {
  scale: 1.03;
}
.content .team > div .container img, .content .style > div .container img, .content .about > div .container img {
  padding: 2.5rem 0;
}

@keyframes background {
  100% {
    background-size: 4000px 1000px;
  }
}
*,
:after,
::before {
  box-sizing: border-box;
  position: relative;
}

body,
html {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  background-color: #fff;
  color: #1d1d1f;
  overflow-x: hidden;
}

button {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #77ccf7;
  color: #1d1d1f;
  font-family: "DM Sans", sans-serif;
  padding: 1rem 3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
button:hover {
  filter: brightness(0.75);
}

p {
  margin: 0;
}

a {
  color: #77ccf7;
  cursor: pointer;
}

img {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.heading {
  font-size: 46px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  margin: 0;
  margin-bottom: 4rem;
}

.sub_heading {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  margin: 0;
}

section {
  overflow: hidden;
  padding: 6rem 0;
  min-height: 70vh;
}

header {
  height: 100%;
  width: 100vw;
}
header nav {
  height: 5rem;
  width: 100%;
  background-color: #323643;
  z-index: 10;
  position: fixed;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
header nav .navbar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: space-between;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
  position: sticky;
}
header nav .navbar > div {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  gap: 1rem;
}
header nav .navbar > div a {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: #f7f7f7;
}
header nav .navbar .logo {
  height: 100%;
  padding: 0.5rem 0;
}
header nav .navbar .logo img {
  max-height: -moz-fit-content;
  max-height: fit-content;
}
header .hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  background-image: url("/img/bg.png");
  background-position: 0;
  background-size: 2000px 1000px;
  margin: auto;
  animation: background 10s infinite alternate linear;
}
header .hero > div {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  max-width: 1300px;
}
header .hero > div > div {
  color: #f7f7f7;
}
header .hero > div > div p {
  font-weight: 500;
}
header .hero > div > div .hero_heading {
  font-size: 72px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  z-index: 1;
}
header .hero > div > div button {
  margin-top: 2rem;
  padding: 1rem 4rem;
}

.content .about {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
.content .about > div {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1300px;
  gap: 5rem;
}
.content .about > div .container {
  box-shadow: 0 20px 40px 0 rgba(216, 227, 235, 0.776);
}
.content .about > div .container .sub_heading {
  margin: 2.5rem 0 1rem 0;
}
.content .about > div .container .text {
  color: #4c4c4c;
}
.content .about > div .container .read_more {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: left;
  justify-content: left;
  margin-top: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}
.content .about > div .container .read_more:hover {
  filter: brightness(0.75);
}
.content .about > div .container .read_more img {
  height: 100%;
  max-width: 24px;
  padding: 0;
}
.content .about > div .container .read_more p {
  font-weight: 500;
}
.content .benefits {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  background-color: #606470;
  scroll-margin-bottom: 15rem;
}
.content .benefits > div {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  max-width: 1300px;
}
.content .benefits > div > div {
  display: grid;
  width: 100%;
  gap: 2rem;
}
.content .benefits > div > div .container {
  background-color: #f7f7f7;
  padding: 2.5rem;
  width: 100%;
}
.content .benefits > div > div .container._1_ {
  border-left: 4px solid #77ccf7;
}
.content .style {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  background-image: url("/img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #f7f7f7;
}
.content .style > div {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1300px;
  gap: 5rem;
  height: 100%;
}
.content .style > div .container .text {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
  color: #1d1d1f;
}
.content .style > div .container .content_text {
  margin-top: 0.5rem;
  color: #4c4c4c;
}
.content .team {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}
.content .team > div {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1300px;
  gap: 5rem;
  height: 100%;
}
.content .team > div .container {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  justify-items: center;
  justify-content: center;
  box-shadow: 0 20px 40px 0 rgba(189, 200, 209, 0.935);
  padding: 0;
  min-height: 500px;
  color: #f7f7f7;
}
.content .team > div .container.filip, .content .team > div .container.martin, .content .team > div .container.petr {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.content .team > div .container.filip {
  background-image: url("/img/profileFilip.png");
}
.content .team > div .container.petr {
  background-image: url("/img/profilePetr.jpg");
}
.content .team > div .container.martin {
  background-image: url("/img/profileMartin.jpg");
}
.content .team > div .container > div {
  display: grid;
  padding: 2.5rem;
  background-color: rgba(50, 54, 67, 0.6078431373);
  border-radius: 0 0 1rem 1rem;
  -webkit-backdrop-filter: contrast(180%);
          backdrop-filter: contrast(180%);
}
.content .review {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
.content .review > div {
  max-width: 1300px;
  padding: 2rem 0;
}
.content .review > div .header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: space-between;
  justify-content: space-between;
}
.content .review > div .header .heading {
  text-align: left;
  margin: 0;
}
.content .review > div .header > div {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  gap: 2rem;
}
.content .review > div .header > div img {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.content .review > div .slick_slider {
  margin-top: 4rem;
  padding: 0 1rem;
}
.content .review > div .slick_slider .content_msg {
  display: flex;
  gap: 2rem;
}
.content .review > div .slick_slider .content_msg img {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  max-width: 5rem;
}
.content .review > div .slick_slider .content_msg .text {
  display: grid;
  padding-right: 9rem;
}
.content .review > div .slick_slider .content_msg .text .msg {
  margin: 0 0 2.5rem 0;
  font-size: 20px;
}
.content .review > div .slick_slider .content_msg .text .job {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: #4c4c4c;
}
.content .contact {
  background-color: #606470;
}
.content .contact .heading {
  color: #f7f7f7;
}
.content .contact form {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  max-width: 1300px;
  margin: auto;
}
.content .contact form > div {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: left;
  justify-content: left;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  gap: 1rem;
}
.content .contact form > div .grid {
  width: 100%;
}
.content .contact form > div .form_flex_div {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: left;
  justify-content: left;
  gap: 1rem;
  width: 100%;
}
.content .contact form > div label {
  font-size: 1rem;
  color: #f7f7f7;
  cursor: pointer;
}
.content .contact form > div textarea,
.content .contact form > div .input {
  background-color: #323643;
  font-family: "DM Sans", sans-serif;
  padding: 14px 16px;
  border-radius: 8px;
  min-width: 100%;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1rem;
  resize: none;
  margin-top: 8px;
  color: #f7f7f7;
}
.content .contact form > div textarea::-moz-placeholder, .content .contact form > div .input::-moz-placeholder {
  color: #f7f7f7;
  opacity: 0.6;
}
.content .contact form > div textarea::placeholder,
.content .contact form > div .input::placeholder {
  color: #f7f7f7;
  opacity: 0.6;
}
.content .contact form > div .radio_div {
  margin-top: 8px;
}
.content .contact form > div .radio_div > div {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: left;
  justify-content: left;
  gap: 0.5rem;
}
.content .contact form > div textarea {
  min-width: 560px;
  height: 120px;
}
.content .contact form > div .submit {
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  padding: 1rem 3rem;
  border-radius: 4px;
  color: #1d1d1f;
  font-weight: 500;
  min-width: unset;
  background-color: #77ccf7;
  transition: all 0.3s;
}
.content .contact form > div .submit:hover {
  filter: brightness(0.75);
}
.content .contact form > div .radio {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.content .contact form > div input[type=radio] {
  border-radius: 50%;
}
.content .contact form > div input[type=radio]::before {
  border-radius: inherit;
}

footer {
  background-color: #323643;
  color: #f7f7f7;
  padding: 3rem;
  text-align: center;
}/*# sourceMappingURL=main.css.map */