@import url("https://fonts.cdnfonts.com/css/poppins");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
@import "mixins";
@import "variables";
@import "placeholders";

@keyframes background {
    100% {
        background-size: 4000px 1000px;
    }
}

*,
:after,
::before {
    box-sizing: border-box;
    position: relative;
}

body,
html {
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    background-color: #fff;
    color: #1d1d1f;
    overflow-x: hidden;
    @extend %scrollbar;
}

button {
    @include text(1rem, 600, center);
    border: none;
    border-radius: $border-radius;
    background-color: $secondary-color;
    color: #1d1d1f;
    font-family: "DM Sans", sans-serif;
    padding: 1rem 3rem;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
        filter: brightness(0.75);
    }
}

p {
    margin: 0;
}

a {
    color: $secondary-color;
    cursor: pointer;
}

img {
    width: 100%;
    user-select: none;
}

.heading {
    @include text(46px, 700, center);
    width: 100%;
    margin: 0;
    margin-bottom: 4rem;
}

.sub_heading {
    @include text(24px, 600, left);
    margin: 0;
}

section {
    overflow: hidden;
    padding: 6rem 0;
    min-height: 70vh;
}

header {
    @include elSize(100%, 100vw);

    nav {
        @include elSize(5rem, 100%);
        background-color: $primary-color;
        z-index: 10;
        position: fixed;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);

        .navbar {
            @include elSize(100%, 100%);
            @include display(flex, center, space-between);
            max-width: 1300px;
            margin: auto;
            position: sticky;

            > div {
                @include display(flex, center, center);
                gap: 1rem;

                a {
                    @include display(flex, center, center);
                    @include elSize(fit-content, fit-content);
                    @extend %animation_link_tool;
                    text-decoration: none;
                    color: $font-color;
                }
            }

            .logo {
                @include elSize(100%, null);
                padding: 0.5rem 0;

                img {
                    max-height: fit-content;
                }
            }
        }
    }

    .hero {
        @include elSize(100vh, 100%);
        @include display(flex, center, center);
        @include bg($img: url("/img/backgrounds/bg.png"), $size: 2000px 1000px, $position: 0);
        margin: auto;
        animation: background 10s infinite alternate linear;

        > div {
            @include display(grid, center, center);
            grid-template-columns: 1fr 1fr;
            gap: 5rem;
            max-width: 1300px;

            > div {
                color: $font-color;

                p {
                    font-weight: 500;
                }

                .hero_heading {
                    @include text(72px, 700, left);
                    margin: 0;
                    z-index: 1;
                }

                button {
                    margin-top: 2rem;
                    padding: 1rem 4rem;
                }
            }
        }
    }
}

.content {
    .about {
        @include display(grid, center, center);

        > div {
            @include display(grid, center, center);
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 1300px;
            gap: 5rem;

            .container {
                @extend %container_tool;
                box-shadow: 0 20px 40px 0 rgba(216, 227, 235, 0.776);

                .sub_heading {
                    margin: 2.5rem 0 1rem 0;
                }

                .text {
                    color: $font-color-secondary;
                }

                .read_more {
                    @include display(flex, center, left);
                    margin-top: 1rem;
                    width: fit-content;
                    gap: 0.5rem;
                    cursor: pointer;
                    transition: all 0.3s;

                    &:hover {
                        filter: brightness(0.75);
                    }

                    img {
                        height: 100%;
                        max-width: 24px;
                        padding: 0;
                    }

                    p {
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .benefits {
        @include display(flex, center, center);
        background-color: $tertiary-color;
        scroll-margin-bottom: 15rem;

        > div {
            @include display(grid, center, center);
            grid-template-columns: 1fr 1fr;
            gap: 5rem;
            max-width: 1300px;

            > div {
                @include display(grid);
                width: 100%;
                gap: 2rem;

                .container {
                    background-color: $font-color;
                    padding: 2.5rem;
                    width: 100%;

                    &._1_ {
                        border-left: 4px solid $secondary-color;
                    }
                }
            }
        }
    }

    .style {
        @include display(grid, center, center);
        @include bg($img: url("/img/backgrounds/bg.png"), $repeat: no-repeat, $size: cover);
        color: $font-color;

        > div {
            @include display(grid, center, center);
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 1300px;
            gap: 5rem;
            height: 100%;

            .container {
                @extend %container_tool;

                .text {
                    @include text(1.125rem, 600);
                    margin: 0;
                    color: #1d1d1f;
                }

                .content_text {
                    margin-top: 0.5rem;
                    color: $font-color-secondary;
                }
            }
        }
    }

    .team {
        @include display(grid, center, center);
        background-color: $font-color;

        > div {
            @include display(grid, center, center);
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 1300px;
            gap: 5rem;
            height: 100%;

            .container {
                @extend %container_tool;
                @include display(flex, flex-end, center);
                box-shadow: 0 20px 40px 0 rgba(189, 200, 209, 0.935);
                padding: 0;
                min-height: 500px;
                color: $font-color;

                &.filip,
                &.martin,
                &.petr {
                    @include bg($repeat: no-repeat, $size: cover, $position: center);
                }

                &.filip {
                    background-image: url("/img/profileFilip.png");
                }

                &.petr {
                    background-image: url("/img/profilePetr.jpg");
                }

                &.martin {
                    background-image: url("/img/profileMartin.jpg");
                }

                > div {
                    @include display(grid);
                    padding: 2.5rem;
                    background-color: $primary-color-opacity;
                    border-radius: 0 0 1rem 1rem;
                    backdrop-filter: contrast(180%);
                }
            }
        }
    }

    .review {
        @include display(grid, center, center);

        > div {
            max-width: 1300px;
            padding: 2rem 0;

            .header {
                @include display(flex, center, space-between);

                .heading {
                    text-align: left;
                    margin: 0;
                }

                > div {
                    @include display(flex, center, center);
                    gap: 2rem;

                    img {
                        background-color: transparent;
                        padding: 0;
                        cursor: pointer;
                    }
                }
            }

            .slick_slider {
                margin-top: 4rem;
                padding: 0 1rem;

                .content_msg {
                    @include display(flex);
                    gap: 2rem;

                    img {
                        @include elSize(fit-content, 100%);
                        max-width: 5rem;
                    }

                    .text {
                        display: grid;
                        padding-right: 9rem;

                        .msg {
                            margin: 0 0 2.5rem 0;
                            font-size: 20px;
                        }

                        .job {
                            @include text(18px, 600, left);
                            color: $font-color-secondary;
                        }
                    }
                }
            }
        }
    }

    .contact {
        background-color: $tertiary-color;

        .heading {
            color: $font-color;
        }

        form {
            @include display(grid, center, center);
            max-width: 1300px;
            margin: auto;

            > div {
                @include display(grid, center, left);
                width: fit-content;
                margin: auto;
                gap: 1rem;

                .grid {
                    width: 100%;
                }

                .form_flex_div {
                    @include display(flex, center, left);
                    gap: 1rem;
                    width: 100%;
                }

                label {
                    font-size: 1rem;
                    color: $font-color;
                    cursor: pointer;
                }

                textarea,
                .input {
                    background-color: $primary-color;
                    font-family: "DM Sans", sans-serif;
                    padding: 14px 16px;
                    border-radius: calc($border-radius * 2);
                    min-width: 100%;
                    width: 100%;
                    border: 0;
                    outline: 0;
                    font-size: 1rem;
                    resize: none;
                    margin-top: 8px;
                    color: $font-color;

                    &::placeholder {
                        color: $font-color;
                        opacity: 0.6;
                    }
                }

                .radio_div {
                    margin-top: 8px;

                    > div {
                        @include display(flex, center, left);
                        gap: 0.5rem;
                    }
                }

                textarea {
                    min-width: 560px;
                    height: 120px;
                }

                .submit {
                    width: fit-content;
                    cursor: pointer;
                    padding: 1rem 3rem;
                    border-radius: $border-radius;
                    color: #1d1d1f;
                    font-weight: 500;
                    min-width: unset;
                    background-color: $secondary-color;
                    transition: all 0.3s;

                    &:hover {
                        filter: brightness(0.75);
                    }
                }

                .radio {
                    cursor: pointer;
                    user-select: none;
                }

                input[type="radio"] {
                    @extend %input_tool;
                    border-radius: 50%;

                    &::before {
                        border-radius: inherit;
                    }
                }
            }
        }
    }
}

footer {
    background-color: $primary-color;
    color: $font-color;
    padding: 3rem;
    text-align: center;
}
