@import url("https://fonts.cdnfonts.com/css/poppins");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
/* COLOR VARIABLES */
/* VARIABLES */
/* BREAKPOINTS */
main .about > div .container .read_more, header nav .navbar .links a {
  color: #f7f7f7;
  padding-bottom: 0.1em;
  background: linear-gradient(#77ccf7 0 0) 0% 100%/var(--_p, 0%) 0.1em no-repeat;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  transition: background 0.5s, color 0.2s;
  z-index: 4;
}
main .about > div .container .read_more:hover, header nav .navbar .links a:hover {
  filter: brightness(1);
  --_p: 100%;
  color: #77ccf7;
  cursor: pointer;
}

main .contact form > div input[type=radio] {
  height: 1.2rem;
  width: 1.2rem;
  margin: 0;
  min-width: 1.2rem;
  min-height: 1.2rem;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: transparent;
  font: caption;
  color: #f7f7f7;
  border: 2px solid #f7f7f7;
  display: grid;
  place-content: center;
  transition: all 0.3s;
}
main .contact form > div input[type=radio]::before {
  height: 0.7em;
  width: 0.7em;
  content: "";
  transform: scale(0);
  transition: transform 0.3s;
  box-shadow: inset 1em 1em #77ccf7;
  background-color: transparent;
}
main .contact form > div input[type=radio]:checked::before {
  transform: scale(1);
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  height: 0.6rem;
  width: 0.6rem;
}
body::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  background: rgba(197, 196, 196, 0.574);
}
body::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background: rgba(105, 104, 104, 0.6);
  border-radius: 2px;
}
body::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:hover {
  background: rgba(95, 95, 95, 0.6);
  cursor: pointer;
}
body::-webkit-color-swatch,
html::-webkit-color-swatch {
  border: 0;
  border-radius: 3px;
}

main .team > div .container, main .style > div .container, main .about > div .container {
  display: grid;
  align-items: space-between;
  align-content: space-between;
  justify-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.426) 0%, rgba(255, 255, 255, 0.238) 100%);
  padding: 2.5rem;
  box-shadow: 0 20px 40px 0 rgba(216, 227, 235, 0.15);
  border-radius: 1rem;
  scale: 1;
  height: 100%;
  transition: all 0.4s;
}
main .team > div .container:hover, main .style > div .container:hover, main .about > div .container:hover {
  scale: 1.03;
}
main .team > div .container img, main .style > div .container img, main .about > div .container img {
  padding: 2.5rem 0;
}

@keyframes background {
  100% {
    background-size: 6000px 1300px;
  }
}
*,
:after,
::before {
  box-sizing: border-box;
  position: relative;
}

body,
html {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  background-color: #fff;
  color: #1d1d1f;
  overflow-x: hidden;
}

button {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #77ccf7;
  color: #1d1d1f;
  font-family: "DM Sans", sans-serif;
  padding: 1rem 3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
button:hover {
  filter: brightness(0.75);
}

p {
  margin: 0;
}

a {
  color: #77ccf7;
  cursor: pointer;
}

img {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.heading {
  font-size: 46px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  margin: 0;
  margin-bottom: 4rem;
}
@media screen and (max-width: 1024px) {
  .heading {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
  }
}

.sub_heading {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  margin: 0;
}
@media screen and (max-width: 480px) {
  .sub_heading {
    font-size: 22px;
    font-weight: 600;
    text-align: left;
  }
}

section {
  overflow: hidden;
  padding: 6rem 3rem;
  min-height: 70vh;
}
@media screen and (max-width: 480px) {
  section {
    padding: 6rem 1rem;
  }
}

.hamburger {
  height: 24px;
  width: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: none;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin: 0;
  align-self: center;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .hamburger {
    display: block;
  }
}
.hamburger span {
  height: 4px;
  width: 100%;
  display: block;
  position: absolute;
  background: #f7f7f7;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}
.hamburger span:nth-child(2) {
  top: 10px;
  transform-origin: left center;
}
.hamburger span:nth-child(3) {
  top: 20px;
  transform-origin: left center;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(39deg);
  top: 0px;
  left: 1px;
}
.hamburger.open span:nth-child(2) {
  height: 0;
  width: 0;
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-39deg);
  top: 20px;
  left: 1px;
}

header {
  height: 100%;
  width: 100vw;
}
header nav {
  height: 5rem;
  width: 100%;
  background-color: #323643;
  z-index: 10;
  position: fixed;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
header nav .navbar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: space-between;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
  position: sticky;
  padding: 0 2rem;
}
header nav .navbar .links {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  gap: 1rem;
}
@media screen and (max-width: 1024px) {
  header nav .navbar .links {
    height: 100vh;
    width: 0;
    background-color: #323643;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.4s;
    flex-direction: column;
  }
  header nav .navbar .links a {
    font-size: 32px;
    font-weight: 500;
    display: none !important;
    white-space: nowrap;
  }
}
header nav .navbar .links a {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: #f7f7f7;
}
header nav .navbar .links.open {
  height: 100vh;
  width: 100vw;
}
header nav .navbar .links.open a {
  display: flex !important;
}
header nav .navbar .logo {
  height: 100%;
  width: auto;
  padding: 0.5rem 0;
  z-index: 2;
}
header .hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  background-image: url("/img/backgrounds/bg.png");
  background-position: -500px;
  background-size: 4096px 2160px;
  margin: auto;
  animation: background 10s infinite alternate linear;
  padding: 0;
}
header .hero > div {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  max-width: 1300px;
}
@media screen and (max-width: 720px) {
  header .hero > div {
    grid-template-columns: 1fr;
  }
  header .hero > div img {
    display: none;
  }
}
header .hero > div > div {
  color: #f7f7f7;
}
@media screen and (max-width: 720px) {
  header .hero > div > div {
    display: grid;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
  }
}
header .hero > div > div p {
  font-weight: 500;
}
header .hero > div > div .hero_heading {
  font-size: 72px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  header .hero > div > div .hero_heading {
    font-size: 64px;
    font-weight: 700;
    text-align: left;
  }
}
@media screen and (max-width: 720px) {
  header .hero > div > div .hero_heading {
    font-size: 88px;
    font-weight: 700;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  header .hero > div > div .hero_heading {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
  }
}
header .hero > div > div button {
  margin-top: 2rem;
  padding: 1rem 4rem;
}

main .about {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
main .about > div {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1300px;
  gap: 5rem;
}
@media screen and (max-width: 1440px) {
  main .about > div {
    gap: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  main .about > div {
    grid-template-columns: 1fr;
    max-width: 600px;
  }
}
@media screen and (max-width: 720px) {
  main .about > div {
    max-width: 400px;
  }
}
@media screen and (max-width: 480px) {
  main .about > div {
    max-width: 400px;
  }
}
main .about > div .container {
  box-shadow: 0 20px 40px 0 rgba(216, 227, 235, 0.776);
}
main .about > div .container .sub_heading {
  margin: 2.5rem 0 1rem 0;
}
main .about > div .container .text {
  color: #4c4c4c;
}
main .about > div .container .read_more {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: #1d1d1f;
  margin-top: 1rem;
  width: fit-content;
  gap: 0.5rem;
}
main .about > div .container .read_more img {
  height: 100%;
  max-width: 24px;
  padding: 0;
}
main .about > div .container .read_more p {
  font-weight: 500;
}
main .benefits {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  background-color: #606470;
  scroll-margin-bottom: 15rem;
  width: 100%;
}
main .benefits > div {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  max-width: 1300px;
}
@media screen and (max-width: 720px) {
  main .benefits > div {
    grid-template-columns: 1fr;
    width: 100%;
  }
  main .benefits > div img {
    display: none;
  }
}
main .benefits > div > div {
  display: grid;
  width: 100%;
  gap: 2rem;
}
main .benefits > div > div .container {
  background-color: #f7f7f7;
  padding: 2.5rem;
  width: 100%;
}
@media screen and (max-width: 720px) {
  main .benefits > div > div .container {
    padding: 2rem;
  }
}
main .benefits > div > div .container._1_ {
  border-left: 8px solid #77ccf7;
  border-radius: 1rem;
}
main .style {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  background-image: url("/img/backgrounds/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #f7f7f7;
}
main .style > div {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1300px;
  gap: 5rem;
  height: 100%;
}
@media screen and (max-width: 1440px) {
  main .style > div {
    gap: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  main .style > div {
    grid-template-columns: 1fr;
    max-width: 600px;
  }
}
@media screen and (max-width: 720px) {
  main .style > div {
    max-width: 400px;
  }
}
main .style > div .container .text {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0;
  color: #1d1d1f;
}
main .style > div .container .content_text {
  margin-top: 0.5rem;
  color: #4c4c4c;
}
main .team {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  background-color: #f7f7f7;
  width: 100%;
}
main .team > div {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1300px;
  gap: 5rem;
  height: 100%;
}
@media screen and (max-width: 1440px) {
  main .team > div {
    gap: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  main .team > div {
    grid-template-columns: 1fr;
    max-width: 600px;
  }
}
@media screen and (max-width: 720px) {
  main .team > div {
    max-width: 400px;
  }
}
main .team > div .container {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  justify-items: center;
  justify-content: center;
  box-shadow: 0 20px 40px 0 rgba(103, 111, 117, 0.654);
  padding: 0;
  min-height: 500px;
  color: #f7f7f7;
}
@media screen and (max-width: 1024px) {
  main .team > div .container {
    min-height: 700px;
    width: 600px;
  }
}
@media screen and (max-width: 720px) {
  main .team > div .container {
    max-width: 400px;
    min-height: 500px;
  }
}
@media screen and (max-width: 480px) {
  main .team > div .container {
    width: 100%;
    height: 100%;
  }
}
main .team > div .container.filip, main .team > div .container.martin, main .team > div .container.petr {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .team > div .container.filip {
  background-image: url("/img/filipImg.jpeg");
}
main .team > div .container.petr {
  background-image: url("/img/petrImg.jpg");
}
main .team > div .container.martin {
  background-image: url("/img/martinImg.jpg");
}
main .team > div .container > div {
  display: grid;
  padding: 2.5rem;
  width: 100%;
  background-color: rgba(50, 54, 67, 0.6078431373);
  border-radius: 0 0 1rem 1rem;
  -webkit-backdrop-filter: contrast(75%);
          backdrop-filter: contrast(75%);
}
main .team > div .container > div .name_links {
  display: flex;
  justify-content: space-between;
}
main .team > div .container > div .name_links .name_text {
  font-weight: bold;
}
main .team > div .container > div .name_links a {
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  background-color: #f7f7f7;
  -webkit-mask-image: url("/img/icons/githubIcon.png");
  mask-image: url("/img/icons/githubIcon.png");
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  transition: background-color 0.3s;
}
main .team > div .container > div .name_links a:hover {
  background-color: #a3a3a3;
}
main .team > div .container > div .content_text {
  margin-top: 0.5rem;
  font-size: 0.875rem;
}
main .review {
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}
main .review > div {
  max-width: 1300px;
  padding: 3rem;
}
@media screen and (max-width: 1300px) {
  main .review > div {
    max-width: 100vw;
  }
}
main .review > div .header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: space-between;
  justify-content: space-between;
  gap: 1rem;
}
main .review > div .header .heading {
  text-align: left;
  margin: 0;
}
main .review > div .header > div {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  gap: 2rem;
}
main .review > div .header > div img {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
main .review > div .slick_slider {
  margin-top: 4rem;
  padding: 0 1rem;
  cursor: grab;
}
main .review > div .slick_slider .content_msg {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 480px) {
  main .review > div .slick_slider .content_msg {
    flex-direction: column;
  }
}
main .review > div .slick_slider .content_msg img {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  max-width: 5rem;
}
main .review > div .slick_slider .content_msg .text {
  display: grid;
  padding-right: 9rem;
}
@media screen and (max-width: 1024px) {
  main .review > div .slick_slider .content_msg .text {
    padding-right: 0rem;
  }
}
main .review > div .slick_slider .content_msg .text .msg {
  margin: 0 0 2.5rem 0;
  font-size: 20px;
}
main .review > div .slick_slider .content_msg .text .job {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: #4c4c4c;
}
main .contact {
  background-color: #606470;
}
main .contact .heading {
  color: #f7f7f7;
}
main .contact form {
  display: grid;
  align-items: center;
  align-content: center;
  max-width: 1300px;
  margin: auto;
  width: 100%;
  max-width: 800px;
}
main .contact form > div {
  display: grid;
  align-items: center;
  align-content: center;
  margin: auto;
  gap: 1rem;
  width: 100%;
}
main .contact form > div .grid {
  width: 100%;
}
main .contact form > div .form_flex_div {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: left;
  justify-content: left;
  gap: 1rem;
}
@media screen and (max-width: 720px) {
  main .contact form > div .form_flex_div {
    flex-direction: column;
  }
}
main .contact form > div label {
  font-size: 1rem;
  color: #f7f7f7;
  cursor: pointer;
}
main .contact form > div textarea,
main .contact form > div .input {
  background-color: #323643;
  font-family: "DM Sans", sans-serif;
  padding: 14px 16px;
  border-radius: 8px;
  min-width: 100%;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1rem;
  resize: none;
  margin-top: 8px;
  color: #f7f7f7;
}
main .contact form > div textarea::-moz-placeholder, main .contact form > div .input::-moz-placeholder {
  color: #f7f7f7;
  opacity: 0.6;
}
main .contact form > div textarea::placeholder,
main .contact form > div .input::placeholder {
  color: #f7f7f7;
  opacity: 0.6;
}
main .contact form > div .radio_div {
  margin-top: 8px;
  flex-direction: row;
}
main .contact form > div .radio_div > div {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: left;
  justify-content: left;
  gap: 0.5rem;
}
main .contact form > div textarea {
  width: 100%;
  height: 120px;
}
main .contact form > div .submit {
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  padding: 1rem 3rem;
  border-radius: 4px;
  color: #1d1d1f;
  font-weight: 500;
  min-width: unset;
  background-color: #77ccf7;
  transition: all 0.3s;
}
main .contact form > div .submit:hover {
  filter: brightness(0.75);
}
main .contact form > div .radio {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main .contact form > div input[type=radio] {
  border-radius: 50%;
}
main .contact form > div input[type=radio]::before {
  border-radius: inherit;
}

footer {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  background-color: #323643;
  color: #f7f7f7;
  padding: 1.5rem 3rem;
  text-align: center;
}
footer .link_github {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #f7f7f7;
  margin: 0.25rem auto 0 auto;
  -webkit-mask-image: url("/img/icons/githubIcon.png");
  mask-image: url("/img/icons/githubIcon.png");
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}/*# sourceMappingURL=main.css.map */